.stopwatch {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.container {
  color: rgb(100, 200, 250);
  font-size: 350px;
}

.clock {
  margin: 0px 60px 0px 0px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info-text {
  font-size: 30px;
  color: rgb(146, 146, 146);
}

@media (max-width: 800px){
  .container {
    font-size: 80px;
  }
  .clock {
    margin: 0 auto;
  }
}

